<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О сайте</title>
</head>
<body>
    <h2>О сайте</h2>
    <p>
        Наш сайт посвящён цифровому образованию для детей. Мы стремимся предоставлять актуальные и
        полезные материалы, которые помогут родителям и педагогам эффективно использовать
        современные технологии в процессе обучения. На нашем ресурсе вы найдёте разнообразные
        статьи, советы экспертов, примеры учебных программ и многое другое.Наша цель — сделать цифровое
        образование доступным и понятным каждому ребёнку, помогая ему раскрыть свой потенциал в эпоху
        высоких технологий.
    </p>
    <br>
    <p><strong>Библиотека полезных ресурсов</strong> размещена прямо на нашем сайте.</p>
    <a href="/resurs"><button>Ресурсы</button></a>
    <h3>Основные преимущества цифрового образования детей</h3>
    <ol>
        <li>Доступность и гибкость: Возможность учиться в удобное время и месте, используя мобильные устройства и интернет.</li>
        <li>Персонализация: Индивидуальные учебные планы, адаптированные под нужды и способности каждого ребенка.</li>
        <li>Интерактивность и мотивация: Увлекательные игры, симуляции и интерактивные упражнения поддерживают интерес к учебе.</li>
        <li>Развитие цифровых навыков: Овладение современными технологиями, необходимыми в повседневной жизни и профессиональной деятельности.</li>
        <li>Быстрая обратная связь: Мгновенное получение результатов и рекомендаций, что ускоряет прогресс в обучении.</li>
    </ol>

    <br>
    <a href="/home"><button>Вернуться на главную</button></a>
</body>
</html>